<a href="https://colab.research.google.com/github/daffamaul30/Naive-Bayes/blob/master/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import seaborn as sn
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn import metrics

In [37]:
from google.colab import drive 
drive.mount('/content/gdrive')
dataset = pd.read_csv("gdrive/My Drive/Colab Notebooks/datasetClassification.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [38]:
dataset.head()

   skill_dribbling  skill_curve  skill_ball_control  skill_moves
0               97           93                  96            4
1               89           81                  92            5
2               96           88                  95            5
3               12           13                  30            1
4               95           83                  94            4

In [0]:
#skill_moves sbg label
label = dataset['skill_moves'].tolist()
dataset = dataset.drop(columns=['skill_moves'])
# print(dataset)

In [0]:
x_train, x_test, y_train, y_test = train_test_split(dataset, label, test_size=0.3, random_state = 0)
# print(x_train)
# print('panjang x_train : ',len(x_train))
# print('panjang y_train : ',len(y_train))
# print(y_train)

In [41]:
model = GaussianNB()
model.fit(x_train,y_train)

y_predict = model.predict(x_test)

# print(y_predict)
y_predict

array([3, 2, 2, ..., 3, 3, 1])

In [42]:
print("Akurasi Model : ",metrics.accuracy_score(y_test,y_predict))

Akurasi Model :  0.8047045951859956